<h3>Resultado Búsqueda</h3>

<% if @result_search.empty? %>
  <p>No hay resultados para esta búsqueda</p>

<% else %>
  <% @result_search.each do |result| %>
  <div><%= link_to result["name"], character_path(result["name"].gsub(".", ""))%></div>
  <%end%>

<%end%>